* {
    font-family: "Lato", sans-serif;
    font-style: normal;
}
body {
    display: flex;
    justify-content: center;
}

.game-container {
    text-align: center;
}

.score {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.option {
    padding: 10px 15px;
}

#ready-section {
    display: none;
}